# FILENAME:     graphics.cfg
#
# MENU COLOR:
#   MENU COLOR element ansi foreground background shadow
#
#   [ element ]
#       screen      Rest of the screen
#       border      Border area
#       title       Title bar
#       unsel       Unselected menu item
#       hotkey      Unselected hotkey
#       sel         Selection bar
#       hotsel      Selected hotkey
#       disabled    Disabled menu item
#       scrollbar   Scroll bar
#       tabmsg      Press [Tab] message
#       cmdmark     Command line marker
#       cmdline     Command line
#       pwdborder   Password box border
#       pwdheader   Password box header
#       pwdentry    Password box contents
#       timeout_msg Timeout message
#       timeout     Timeout counter
#       help        Help text
#       msgXX       Message (F-key) file attribute XX
#
#   [ ansi ]
#       0     reset all attributes to their defaults
#       1     set bold
#       4     set underscore (simulated with color on a color display)
#       5     set blink
#       7     set reverse video
#       22    set normal intensity
#       24    underline off
#       25    blink off
#       27    reverse video off
#       30    set black foreground
#       31    set red foreground
#       32    set green foreground
#       33    set brown foreground
#       34    set blue foreground
#       35    set magenta foreground
#       36    set cyan foreground
#       37    set white foreground
#       38    set underscore on, set default foreground color
#       39    set underscore off, set default foreground color
#       40    set black background
#       41    set red background
#       42    set green background
#       43    set brown background
#       44    set blue background
#       45    set magenta background
#       46    set cyan background
#       47    set white background
#       49    set default background color
#
#   [ foreground & background ]
#       "foreground" and "background" are color codes in #AARRGGBB notation,
#       where AA RR GG BB are hexadecimal digits for alpha (opacity), red,
#       green and blue, respectively. #00000000 represents fully transparent,
#       and #ffffffff represents opaque white.
#
#   [ shadow ]
#       none    no shadowing
#       std     standard shadowing -- foreground pixels are raised
#       all     both background and foreground raised
#       rev     background pixels are raised
#
###############################################################################

# Set the background image
MENU BACKGROUND /pxelinux.cfg/img/space.jpg

# Colors
#          element      ansi        foreground  background  shadow
MENU COLOR screen       37;40       #80ffffff   #00000000   std
MENU COLOR border       30;44       #40000000   #00000000   std
MENU COLOR title        1;36;44     #c00090f0   #00000000   std
MENU COLOR unsel        37;44       #90ffffff   #00000000   std
MENU COLOR hotkey       1;37;44     #ffffffff   #00000000   std
MENU COLOR sel          7;37;40     #e0000000   #20ff8000   all
MENU COLOR hotsel       1;7;37;40   #e0400000   #20ff8000   all
MENU COLOR disabled     1;30;44     #60cccccc   #00000000   std
MENU COLOR scrollbar    30;44       #40000000   #00000000   std
MENU COLOR tabmsg       31;40       #90ffff00   #00000000   std
MENU COLOR cmdmark      1;36;40     #c000ffff   #00000000   std
MENU COLOR cmdline      37;40       #c0ffffff   #00000000   std
MENU COLOR pwdborder    30;47       #80ffffff   #20ffffff   std
MENU COLOR pwdheader    31;47       #80ff8080   #20ffffff   std
MENU COLOR pwdentry     30;47       #80ffffff   #20ffffff   std
MENU COLOR timeout_msg  37;40       #80ffffff   #00000000   std
MENU COLOR timeout      1;37;40     #c0ffffff   #00000000   std
MENU COLOR help         37;40       #c0ffffff   #00000000   std
MENU COLOR msg07        37;40       #90ffffff   #00000000   std

# Layout
MENU WIDTH          80
MENU MARGIN         10
MENU PASSWORDMARGIN 3
MENU ROWS           12
MENU TABMSGROW      18
MENU CMDLINEROW     18
MENU ENDROW         -1
MENU PASSWORDROW    11
MENU TIMEOUTROW     20
MENU HELPMSGROW     22
MENU HELPMSGENDROW  -1
MENU HIDDENROW      -2
MENU HSHIFT         0
MENU VSHIFT         0

# Prompts
MENU PASSPROMPT     Password:
MENU TABMSG         Press [Tab] to edit options
MENU NOTABMSG

# Master password
#MENU MASTER PASSWD  pxe

# Don't display the boot: prompt
PROMPT          0

# Ignore the [Shift] / [Alt] / [Caps Lock] / [Scroll Lock] "escape" keys
NOESCAPE        1

# Don't allow editing of kernel arguments
ALLOWOPTIONS    0
